.cart-page {
    margin: 80px auto;

    table {
        width: 100%;
        border-collapse: collapse;

        tr {
            th {
                text-align: left;
                padding: 5px;
                color: white;
                background: $primary;
                font-weight: normal;

                &:last-child {
                    text-align: right;
                }
            }
            td{
                &:last-child{
                    text-align: right;
                }
            }
        }
    }

    td {
        padding: 10px 5px;

        .cart-info {
            display: flex;
            flex-wrap: wrap;

            img {
                width: 80px;
                height: 80px;
                margin-right: 10px;
            }

            p {}

            small {}

            a {
                color: $primary;
                font-size: 12px;
            }


        }

        input {
            width: 40px;
            height: 30px;
            padding: 5px;
        }
    }

    .total-price {
        display: flex;
        justify-content: flex-end;

        table {
            border-top: 3px solid #ff523b;
            width: 100%;
            max-width: 400px;

            tr {
                td {
                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }

}