.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;

    .row {
        @include row();

        .col-2 {
            @include col-2();

            .offer-img {
                width: 100%;
                padding: 50px;
            }
        }
    }
}


.testimonal {
    padding-top: 100px;

    .small-container {
        // @include small-container();

        .row-1 {
            @include row();
            
            flex-wrap: nowrap;
            // justify-content: space-around;

            .col-3 {
                text-align: center;
                padding: 40px 20px;
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                transition: transform 1s;

                i{
                    color: $light-dark;
                }

                & img {
                    width: 50px;
                    margin-top: 20px;
                    border-radius: 50%;
                }

                p {
                    font-size: 12px;
                    margin: 12px 0;
                    color: #777;
                }

                h3 {
                    font-weight: 600;
                    color: #555;
                    font-size: 16px;
                }

                &:hover {
                    transform: translateY(-10px);

                }
            }
        }
    }
}