/*----------media query for menu-------*/

@media only screen and (max-width: 700px) {
    nav {

        ul {
            position: absolute;
            top: 70px;
            left: 0;
            background: #333;
            width: 100%;
            overflow: hidden;
            transition: max-height 0.5s;

            li {
                display: block !important;
                flex-direction: column;
                margin-right: 50px;
                margin-top: 10px;
                margin-bottom: 10px;


                a {
                    color: white;
                }
            }
        }
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .contact-left {
        margin-left: 0;
    }

    .contact-section .row {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .testimonal {
        .row-1 {
            flex-wrap: wrap !important;
        }
    }


}

/*----------all product------*/

.row,
.row-2 {
    justify-content: space-between;
    margin: 70px auto 40px;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: white;
}



/*-------single product details------*/

.single-product {
    margin-top: 80px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 20px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus {
    outline: none;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}


/*------cart-page-----*/

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: white;
    background: #ff523b;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff523b;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;

}

th:last-child {
    text-align: right;
}


/*------account-page------*/

.account-page {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}

.form-container {
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;

}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0;
}

form a {
    font-size: 12px;
}

#Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/* contact */
.form-contact textarea {
    border-radius: 0px;
    height: 100% !important;
    padding-top: 14px;
}

.form-contact .form-control {
    border: 1px solid #e5e6e9;
    border-radius: 0px;
    height: 48px;
    width: 100%;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
    outline: none;
}

.contact-right {
    flex: 1;
    width: 100%;
}

.contact-left {
    margin-left: 8%;
}

.contact-info {
    margin-bottom: 25px;
}

.contact-info .media-body h3 {
    font-size: 16px;
    margin-bottom: 0;
    color: #2a2a2a;
    line-height: 3;
}

.contact-info .media-body p {
    color: #8a8a8a;
}

.contact-info__icon ion-icon,
.contact-info__icon span {
    color: #8f9195;
    font-size: 27px;
}

.contact-info__icon {
    margin-right: 20px;
}





/*-----------media query for 500px--------*/


@media only screen and (max-width: 500px) {


    .row {
        text-align: center;
    }

    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }


    .single-product .row {
        text-align: left;

    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 25px;
        line-height: 20px;
    }

    .cart-info p {
        display: none;
    }


    .footer {
        .row {
            flex-direction: column;

            ul {
                li {
                    margin-top: 12px;
                }
            }
        }
    }



}